{% extends 'restaurant/base.html' %}
{% block title %}Menu, Carte des vins — Braisonnable Steakhouse à Anderlecht{% endblock %}
{% block meta %}
<meta name="description" content="Découvrez la carte des vins de Braisonnable, steakhouse à Anderlecht. Vin de Pays d'Oc, bulles, ainsi que nos vins blancs, rosés et rouges sélectionnés par le caviste.">
{% endblock %}
{% block main_class %}page-secondaire{% endblock %}
{% block content %}

<section class="menu-intro">
  <div class="intro1">
    <div class="intro2">
      <h2>LA CARTE DES VINS </h2>
      <p>Découvrez tous nos vins, spécialement sélectionnés par le caviste.</p>
    </div>
  </div>
</section>

<div class="menu-navigation_vin">
  <section class="manu-navi">
            <nav class="menu-nav_vin">
              <a href="#paysdoc">Vins de Pays d'Oc</a>
              <a href="#bulles">Les Bulles</a>
              <a href="#blancs">Les Vins blancs</a>
              <a href="#roses">Les Vins rosés</a>
              <a href="#rouges">Les Vins rouges</a>
              <a href="#monde">Les Vins du monde</a>
            </nav>
  </section>
</div>

<!-- Section menu -->
<section class="menu-section" id="paysdoc">
  <h2>Vins de Pays d'Oc</h2>
  <ul class="menu-list">
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Chargdonnay</h4>
        <p>LUC PIRLET, blanc</p>
      </div>
      <span class="price"> 25 €/5 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Rosé Grenache/Cinsault</h4>
        <p>LES GITES, rosé</p>
      </div>
      <span class="price"> 25 €/5 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Cabernet Sauvignon</h4>
        <p>MAISON BERGON, rouge</p>
      </div>
      <span class="price"> 25 €/5 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Merlot</h4>
        <p>LUC PIRLET, rouge</p>
      </div>
      <span class="price"> 28 €/6 €</span>
    </li>
  </ul>
</section>

<section class="menu-section" id="bulles">
  <h2>Les Bulles</h2>
  <ul class="menu-list">
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Veuve Doussot Tradition Brut</h4>
        <p>Champagne Veuve Doussot</p>
      </div>
      <span class="price">55 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Veuve Doussot Demi Sec</h4>
        <p>Champagne Veuve Doussot</p>
      </div>
      <span class="price">60 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Veuve Doussot Extra Brut</h4>
        <p>Champagne Veuve Doussot</p>
      </div>
      <span class="price">75 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Veuve Doussot Rose Tendresse</h4>
        <p>Champagne Veuve Doussot</p>
      </div>
      <span class="price">85 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Veuve Doussot Blanc de Blancs</h4>
        <p>Champagne Veuve Doussot</p>
      </div>
      <span class="price">85 €</span>
    </li>
  </ul>
</section>

<section class="menu-section" id="blancs">
  <h2>Les Vins blancs</h2>
  <ul class="menu-list">
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Sancerre Blanc</h4>
        <p>Domaine d'Auchère, Loire</p>
      </div>
      <span class="price"> 39 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Pinot Gris</h4>
        <p>Emile Boeckel, Alsace</p>
      </div>
      <span class="price"> 35 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Chablis</h4>
        <p>Domaine Baudoin Millet, Bourgogne</p>
      </div>
      <span class="price">42 €</span>
    </li>
        <li class="menu-itemo">
      <div class="item-text">
        <h4>Saint Veran</h4>
        <p>Domaine Perraud, Bourgogne</p>
      </div>
      <span class="price">48 €</span>
    </li>
        <li class="menu-itemo">
      <div class="item-text">
        <h4>Châteauneuf du Pape</h4>
        <p>Domaine Roger Perrin, Côtes du Rhône</p>
      </div>
      <span class="price">58 €</span>
    </li>
  </ul>
</section>

<section class="menu-section" id="roses">
  <h2>Les Vins rosés</h2>
  <ul class="menu-list">
    <li class="menu-itemo">
      <div class="item-text">
        <h4>M de Minuty Rosé</h4>
        <p>Côtes de Provence</p>
      </div>
      <span class="price">39 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Château de Miraval</h4>
        <p>Côtes de Provence</p>
      </div>
      <span class="price">45 €</span>
    </li>
  </ul>
</section>

<section class="menu-section" id="rouges">
  <h2>Les Vins rouges</h2>
  <ul class="menu-list">
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Les Dernières Terres - Les DAVIDS</h4>
        <p>Vin de Vaucluse - Bio, Régional</p>
      </div>
      <span class="price">38 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Saint Nicolas de Bourgueil</h4>
        <p>Domaine Laurent Mabileau, Loire</p>
      </div>
      <span class="price">35 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>45 Jaboulet</h4>
        <p>Côtes du Rhône - Bio</p>
      </div>
      <span class="price">34 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Châteauneuf du Pape rouge</h4>
        <p>Domaine Perrin, Côtes du Rhône</p>
      </div>
      <span class="price">65 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Pinot Noir</h4>
      <p>Emile Boeckel, Alsace</p>
      </div>
      <span class="price">39 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Brouilly Reverdon</h4>
        <p>Château THIVIN, Beaujolais Village</p>
      </div>
      <span class="price">45 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Bourgogne Pinot Noir</h4>
        <p>Rochebin, Bourgogne</p>
      </div>
      <span class="price">42 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Château Cailleteau Bergeron</h4>
        <p>Côtes de Blaye, Bordeaux</p>
      </div>
      <span class="price">35 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Château Croix Beausejour</h4>
        <p>Montagne St Emilion, Bordeaux</p>
      </div>
      <span class="price">38 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Château Quantin</h4>
        <p>Graves, Bordeaux</p>
      </div>
      <span class="price">45 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Château Patache d'Aux</h4>
        <p>Médoc A.C. - Cru Bourgeois, Bordeaux</p>
      </div>
      <span class="price">48 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Château Grand Pey Lescours</h4>
        <p>Bordeaux</p>
      </div>
      <span class="price">56 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Château Zede de Labegorce</h4>
        <p>Margaux, Bordeaux</p>
      </div>
      <span class="price">62 €</span>
    </li>
  </ul>
</section>

<section class="menu-section" id="monde">
  <h2>Les Vins du monde</h2>
  <ul class="menu-list">
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Catena Zappata</h4>
        <p>Malbec, Argentine</p>
      </div>
      <span class="price"> 48 €</span>
    </li>
  </ul>
</section>


{% endblock %}