{% extends 'restaurant/base.html' %}
{% block title %}Menu, La carte — Braisonnable Steakhouse à Anderlecht{% endblock %}
{% block meta %}
<meta name="description" content="Découvrez le menu de Braisonnable, steakhouse à Anderlecht. Entrées, plats, accompagnements et desserts préparés avec des produits frais et locaux.">
{% endblock %}
{% block main_class %}page-secondaire{% endblock %}
{% block content %}

<section class="menu-intro">
  <div class="intro1">
    <div class="intro2">
      <h2>NOTRE CARTE</h2>
      <p>Découvrez nos suggestions inspirées des saisons, composées à base de produits frais, locaux et de qualité.</p>
    </div>
  </div>
</section>

<div class="menu-navigation">
  <section class="manu-navi">
            <nav class="menu-nav">
              <a href="#entrees">Entrées</a>
              <a href="#menus">Menu</a>
              <a href="#plats">Plats</a>
              <a href="#accompagnements">Accompagnements</a>
              <a href="#sauce">Sauces</a>
              <a href="#desserts">Desserts</a>
            </nav>
  </section>
</div>

<!-- Section menu -->
<section class="menu-section" id="entrees">
  <h2>Nos Entrées</h2>
  <ul class="menu-list">
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Carpaccio de bœuf au foie gras</h4>
        <p></p>
      </div>
      <span class="price"> 18 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Salade de poulpe et de gambas</h4>
        <p></p>
      </div>
      <span class="price"> 16 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Saumon fumé tranché et ses garnitures</h4>
        <p></p>
      </div>
      <span class="price"> 18 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Salade de chèvre au miel </h4>
        <p></p>
      </div>
      <span class="price"> 15 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Planche à partager Braisonnable</h4>
        <p>jambon, salami, chorizo iberico, fromage</p>
      </div>
      <span class="price"> 22 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Trio mini burgers </h4>
        <p></p>
      </div>
      <span class="price"> 22 €</span>
    </li>
  </ul>
</section>

<section class="menu-section" id="menus">
  <h2>Menu Spécial</h2>
  <ul class="menu-list">
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Menu Braisonnable</h4>
        <p>menu 3 services : salade en entrée, entrecôte de bœuf accompagnée de frites et sauce Braisonnable à volonté, café ou thé</p>
      </div>
      <span class="price"> 35 €</span>
    </li>
  </ul>
</section>

<section class="menu-section" id="plats">
  <h2>Nos Plats</h2>
  <ul class="menu-list">
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Filet pur de bœuf</h4>
        <p> ± 320 g</p>
      </div>
      <span class="price">38 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Côte à l'os maturé irlandais </h4>
        <p>2 personnes, ± 1,1 kg </p>
      </div>
      <span class="price">110 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Côte à l'os maturé simmental</h4>
        <p>2 personnes, ± 1,1 kg </p>
      </div>
      <span class="price">110 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Bœuf Wagyu Japon </h4>
        <p> prix pour 100g</p>
      </div>
      <span class="price">30 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Entrecôte Wagyu Australie </h4>
        <p> prix pour 100g, viande halal</p>
      </div>
      <span class="price">27 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Maminha angus Australie </h4>
        <p> ± 320 g, viande halal</p>
      </div>
      <span class="price">37 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Picanha black angus </h4>
        <p> ± 320g, viande halal</p>
      </div>
      <span class="price">38 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Entrecôte de bœuf Uruguay</h4>
        <p> ± 320 g, viande halal</p>
      </div>
      <span class="price">42 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Steak de bœuf</h4>
        <p> ± 320 g</p>
      </div>
      <span class="price">35 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Tomahawk de bœuf</h4>
        <p> 2 personnes, ± 1,1 kg </p>
      </div>
      <span class="price"> 96 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Côte de bœuf</h4>
        <p>2 personnes, ± 1,1 kg</p>
      </div>
      <span class="price">85 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Pluma Ibérico</h4>
        <p> ± 320 g</p>
      </div>
      <span class="price"> 36 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Epaule d'agneau en croûte de sel</h4>
        <p>Sur commande min. 4 heures en avance, pour 1 personne</p>
      </div>
      <span class="price"> 39 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Epaule d'agneau en croûte de sel</h4>
        <p>Sur commande min. 4 heures en avance, pour 2 personnes</p>
      </div>
      <span class="price"> 80 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Double mini burgers</h4>
        <p>Avec salade, frites et sauce</p>
      </div>
      <span class="price"> 17,5 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Burger Braisonnable</h4>
        <p>Avec salade, frites et sauce</p>
      </div>
      <span class="price"> 19 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Dorade grillée au feu de bois </h4>
        <p> Accompagnée de légumes de saison et de pommes grenaille</p>
      </div>
      <span class="price"> Prix du jour</span>
    </li>
  </ul>
</section>

<section class="menu-section" id="accompagnements">
  <h2>Accompagnements</h2>
  <ul class="menu-list">
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Frites à volonté</h4>
        <p> inclus </p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Pommes de terre au four</h4>
        <p></p>
      </div>
      <span class="price"> 3.5 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Pommes de terre grenaille sautées</h4>
        <p></p>
      </div>
      <span class="price">3.5 €</span>
    </li>
  </ul>
</section>

<section class="menu-section" id="sauce">
  <h2>Sauces</h2>
  <ul class="menu-list">
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Braisonnable</h4>
        <p> inclus </p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Archiduc</h4>
        <p></p>
      </div>
      <span class="price">3.5 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Poivre vert</h4>
        <p></p>
      </div>
      <span class="price"> 3.5 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Poivre concassé</h4>
        <p></p>
      </div>
      <span class="price"> 3.5 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Béarnaise</h4>
        <p></p>
      </div>
      <span class="price"> 3.5 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Rocquefort</h4>
        <p></p>
      </div>
      <span class="price">3.5 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Chumichurri</h4>
        <p></p>
      </div>
      <span class="price">3.5 €</span>
    </li>
  </ul>
</section>

<section class="menu-section" id="desserts">
  <h2>Desserts</h2>
  <ul class="menu-list">
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Tarte Tatin faite maison flambée au Calvados</h4>
        <p></p>
      </div>
      <span class="price">12 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Moelleux au chocolat</h4>
        <p></p>
      </div>
      <span class="price">12 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Tiramisu au spéculos</h4>
        <p></p>
      </div>
      <span class="price">12 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Crêpe Mikado</h4>
        <p>avec sa boule de glace vanille</p>
      </div>
      <span class="price">12 €</span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Café glacé</h4>
        <p></p>
      </div>
      <span class="price">10 €</span>
    </li>
  </ul>
</section>


{% endblock %}
