{% extends 'restaurant/base.html' %}
{% block title %}Menu — Braisonnable{% endblock %}
{% block main_class %}page-secondaire{% endblock %}
{% block content %}

<section class="menu-intro">
  <div class="intro1">
    <div class="intro2">
      <h2>NOTRE CARTE</h2>
      <p>Découvrez nos suggestions inspirées des saisons, composées à base de produits frais, locaux et de qualité.</p>
    </div>
  </div>
</section>

<div class="menu-navigation">
  <section class="manu-navi">
            <nav class="menu-nav">
              <a href="#entrees">Entrées</a>
              <a href="#menus">Menu</a>
              <a href="#plats">Plats</a>
              <a href="#accompagnements">Accompagnements</a>
              <a href="#sauce">Sauces</a>
              <a href="#desserts">Desserts</a>
            </nav>
  </section>
</div>

<!-- Section menu -->
<section class="menu-section" id="entrees">
  <h2>Entrées</h2>
  <ul class="menu-list">
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Carpaccio de boeuf au foie gras</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Carpaccio de Wagyu à l'huile de truffe</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Salade de poulpe et de gambas</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Saumon fumé tranché et ses garnitures</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Salade chèvre</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Salade de tomate et mozzarella</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
  </ul>
</section>

<section class="menu-section" id="menus">
  <h2>Menu</h2>
  <ul class="menu-list">
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Menu Braisonnable</h4>
        <p>menu 3 services : salade, entrecôte avec des frites et sa sauce Braisonnable, café ou thé</p>
      </div>
      <span class="price"></span>
    </li>
  </ul>
</section>

<section class="menu-section" id="plats">
  <h2>Plats</h2>
  <ul class="menu-list">
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Filet pur de boeuf</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Côte à l'os</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Boeuf Wagyu</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Peçanha de boeuf</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Entrecôte de boeuf</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Steak de boeuf</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Tomahawk de boeuf</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Souris d'agneau</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Couronne d'agneau</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Pluma Iberico</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Dorade</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
  </ul>
</section>

<section class="menu-section" id="accompagnements">
  <h2>Accompagnements</h2>
  <ul class="menu-list">
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Frites à volonté</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Pommes de terre au four</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Pommes de terre en chemise</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Pommes de terre en grenaille</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
  </ul>
</section>

<section class="menu-section" id="sauce">
  <h2>Sauces</h2>
  <ul class="menu-list">
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Braisonnable</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Archiduc</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Béarnaise</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Poivre vert</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Pooivre concassé</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Chumichurri</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Rocquefort</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
  </ul>
</section>

<section class="menu-section" id="desserts">
  <h2>Desserts</h2>
  <ul class="menu-list">
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Tarte Tatin maison, flambée au Calvados</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Moelleux au chocolat</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Tiramisu spéculoos</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Crêpe au sucre</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Crêpe Mikado</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
    <li class="menu-itemo">
      <div class="item-text">
        <h4>Café liégois</h4>
        <p></p>
      </div>
      <span class="price"></span>
    </li>
  </ul>
</section>


{% endblock %}